<!--Show image from explanation-->
<!DOCTYPE html>
<html>
    <head>
        <title>Explanation for result</title>
    </head>
    <body>
        <!--Show explanation for positive-->
        <p>The diagram below highlighted the area that resulted in positive result</p>
        <img src={{url_for('static', filename='figure1.png')}}>
        <!--Show explanation for negative-->
        <p>The diagram below highlighted the area that resulted in postive result with original image</p>
        <img src={{url_for('static', filename='figure2.png')}}>
    </body>
</html>